.wraper {
	margin: 0 auto;
	width: 60%;
}
 form {
 	width: 100%;
 	padding: 25px;
 	margin: 25px auto;
 	border: 4px groove grey;
 }
 form div {
 	display: inline-block;
 }
 .input_singn {
 	display: inline-block;
 	width: 75px;
 }

 form .message {
 	width: auto;
 	border: 2px solid grey;
 	padding: 5px;
 	border-radius: 10px;
 	margin-left: 10px;
 	display: none;
 }


 .inform {
 	width: 100%;
 	padding: 25px;
 	margin:25px auto;
 	border: 2px solid grey;
 	background-color: #ccc;
 }

 .tabs__wraper {
 	background-color: #ddd;
 	border: 1px solid grey;
 }
 .tabs {
 	display: inline-block;
 	padding: 7px;
 	background-color: #eee;
 	border: 1px solid lightgrey;
 	border-bottom: 0;
 	margin:5px 5px 0 5px;
 }
 .some_text {
 	margin-top: 0;
 	padding: 15px;
 	display: none;
 }

 .tabs__active {
 	background-color: white;
 	border: 1px solid grey;
 	border-bottom: 1px solid white;
 	margin-bottom: -1px;
 }

.text__active {
	display: block;
	background-color: white;
}

