* {
	margin: 0;
	padding: 0;
}

.wrapper {
	width: 70%;
	margin:0 auto;
	padding: 10% 0;
	background-color: lightgrey;
}
.main-menu, .second-menu, .last-menu {
	margin: 15px;	
	background-color: black;
}
.second-menu, .last-menu {

	width: 100px;
}
.main-menu li {
	display: inline-block;
	padding:12px;
	background-color: grey;
}
.second-menu li {
	display: block;
	padding: 6px;
	background-color: grey;
}
.last-menu li {
	display: block;
	padding: 6px;
	background-color: grey;
}