div, p, li , a {
  	font-family: Arial, sans-serif;
}

.wrapper {
  background-image: url(../img/bg960.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 168px;
}
header {
  padding: 5% 15%;
  text-align: right;
}
header p {
  color: white;
  float: left;
}
header ul {
  float: right;
  width: 80%;
  display: inline-block;
}
header li {
  display: inline-block;
  margin-left: 15px;
}
header a {
  display: block;
  width: 100%;
  margin: 0 5%;
  text-decoration: none;
  color: white;
}
header a:hover {
  border-bottom: 3px solid purple;
}
.slider {
  padding: 0 15%;
  margin: 10% 0 0 0;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.5);
}
.slider__inform {
  display: inline-block;
  width: 70%;
  margin: 10% 0;
}
.slider__inform_header {
  color: white;
  font-size: 60px;
}
.slider__inform_signature {
  color: purple;
  font-size: 40px;
}
.slider__inform_text {
  color: white;
  font-size: 22px;
}

.slider__bg_img {
  float: right;
  width: 113px;
  height: 216px;
  margin: 10% 15% 0 0;
  background-image: url(../img/iphone42.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.slider__front_img {
  float: left;
  width: 220px;
  height: 500px;
  margin: -95% 15% 0 60%;
  background-image: url(../img/iphone4.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
}
.about {
  padding: 0 15%;
}

.about__wrench {
  float: left;
  color: white;
  width: 30%;
}
.about__wrench:before {
  content: url(../img/wrench.png);
  float: left;
  margin:10px 10px 10px -40px;
}
.about__feedback {
  color: white;
  width:30%;
  margin: 0 auto;
}
.about__feedback:before {
  content: url(../img/feedback.png);
  float: left;
  margin:10px 10px 10px -40px;
}

.about__music {
  float: right;
  color: white;
  width: 30%;
}
.about__music:before {
  content: url(../img/music.png);
  float: left;
  margin:10px 10px 10px -40px;
}