<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Testing page</title>
    <link rel="stylesheet" href="css/master.css" media="screen" title="no title" charset="utf-8">
    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="js/tmpl.js"></script>
    <script src="js/js13.js"></script>
  </head>
  <body>
    <script type="text/tmpl" id='question'>
      <h1> Тест по програмированию </h1>
      <% for (i = 0; i < questiong.length; i++) { %>
        <li> <%= questiong[i].name %> </li>

        <% for (e = 0; e < 4; e++) { %>
          <label> aaaaaaaaaaaaaaaaa </label>

      <% }; }; %>

      <button> Проверить мои результаты </button>
    </script>

  </body>
  <ol>

  </ol>
</html>
