* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.wrapper {
    padding: 25px;
    height: auto;
    background-color:darkslategrey;
    border-radius: 60px;
}

body {
    background-color: cadetblue;
}

h1,h2 {
    color: antiquewhite;
    margin: 5px;
    text-align: center;
}

.html-css-examples {
    display: inline-block;
    margin: 3%;
    width: 42%;
    text-align: center;

}
.js-examples {
    display: inline-block;
    margin: 3%;
    width: 42%;
    text-align: center;
}

.js-examples p {
}
.html-css-examples p {
}
.pages {
    display: inline-block;
    overflow: hidden;
    padding: 10px;
    margin: 1%;
    width: 140px;
    height: 140px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 15px;
    color: coral;
    background-color: azure;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}
@media (max-width: 800px) {
    .pages {
        width: 95px;
        height: 95px;
        font-weight: 300;
    }
}
@media (min-width: 1280px) {
    .wrapper {
        margin: 50px 20%;
    }
    .pages {
        margin: 20px;
    }
}

.landpage-pic {
    background-image: url(img/landingpage.jpg);
}
.profile-pic {
    background-image: url(img/profile.jpg);
}
.shop-pic {
    background-image: url(img/shop.jpg);
}
.test-pic {
    background-image: url(img/test.jpg);
}
.search-pic {
    background-image: url(img/search.jpg);
}
.logpage-pic {
    background-image: url(img/logpage.jpg);
}
.simplepage-pic {
    background-image: url(img/simplepage.jpg);
}
.homepage-pic {
    background-image: url(img/homepage.jpg);
}
.diagram-pic {
    background-image: url(img/diagram.jpg);
}
