* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

h1,h2 {
    margin: 5px;
    text-align: center;
}

.html-css-examples {
    display: inline-block;
    margin: 3%;
    width: 42%;
    text-align: center;
}
.js-examples {
    display: inline-block;
    margin: 3%;
    width: 42%;
    text-align: center;
}
.pages {
    display: inline-block;
    overflow: hidden;
    padding: 10px;
    margin: 1%;
    width: 100px;
    height: 100px;
    background-color: grey;
    font-weight: 600;
}
@media (max-width: 800px) {
    .pages {
        width: 75px;
        height: 75px;
        font-weight: 300;
    }
}
@media (min-width: 1280px) {
    .wrapper {
        padding: 0 25%;
    }
}

.landapge
