/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: monospace; }

.wrapper {
  width: 100%;
  height: 100%; }
  .wrapper .shadow {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0px 0px 300px 140px white inset; }
  .wrapper .logo {
    position: fixed;
    top: 60px;
    left: 75px; }
  .wrapper nav {
    position: fixed;
    top: 65px;
    right: 75px;
    margin-left: 240px; }
  .wrapper li {
    display: inline-block;
    margin: 0 10px; }
  .wrapper a {
    display: block;
    padding: 12px;
    font-weight: bold;
    font-size: 20px;
    color: black;
    text-decoration: none; }
  .wrapper a:hover {
    color: lightgrey;
    background-color: black;
    box-shadow: 0px 0px 12px 5px white inset;
    border-radius: 7px; }

.slider {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%; }
  .slider li {
    display: none;
    width: 100%;
    height: 100%; }
    .slider li img {
      opacity: 0;
      width: 100%;
      height: 100%; }
  .slider li:nth-child(3) {
    display: block; }
    .slider li:nth-child(3) img {
      opacity: 1; }

header {
  clear: both; }

.aboutKAI {
  position: relative;
  margin-top: 58%;
  width: 100%;
  height: 100%; }
  .aboutKAI img {
    width: 100%;
    height: 100%; }
  .aboutKAI .info_text {
    display: none;
    border: 3px solid black;
    background-color: grey;
    padding: 15px; }
  .aboutKAI .info, .aboutKAI .hear, .aboutKAI .eye, .aboutKAI .orient, .aboutKAI .conection, .aboutKAI .regul {
    position: absolute;
    z-index: 1;
    top: 49%;
    left: 49%;
    cursor: pointer;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    background-color: white;
    border: 4px solid black; }
  .aboutKAI .info:hover, .aboutKAI .hear:hover, .aboutKAI .eye:hover, .aboutKAI .orient:hover, .aboutKAI .conection:hover, .aboutKAI .regul:hover {
    background-color: black;
    border: 4px solid white; }
  .aboutKAI .info:hover info_text, .aboutKAI .hear:hover info_text, .aboutKAI .eye:hover info_text, .aboutKAI .orient:hover info_text, .aboutKAI .conection:hover info_text, .aboutKAI .regul:hover info_text {
    display: block;
    width: auto; }
  .aboutKAI .hear {
    top: 39%;
    left: 69%; }
  .aboutKAI .eye {
    top: 39%;
    left: 39%; }
  .aboutKAI .orient {
    top: 49%;
    left: 59%; }
  .aboutKAI .conection {
    top: 45%;
    left: 60%; }
  .aboutKAI .regul {
    top: 59%;
    left: 59%; }

/*# sourceMappingURL=style.css.map */