@font-face {
    font-family: 'lucida';
    src: url('../fonts/LucidaSansUnicodeFont.ttf');
}

div, p, input, button, header, footer, aside, section {
    font-family: lucida, Arial, sans-serif;
    font-size: 14px;
}

.wraper {
    margin: 10px auto;
    width: 908px;
}
.clearfix:after {
    content: "";
    clear: both;
    display: block;
}
header {
    margin-bottom: 15px;
}
.contacts {
    float: left;
    line-height: 20px;
    padding-top: 5px;
    margin-left: 5px;
    width: 310px;
    font-family: Arial;
    font-size: 18px;
    font-weight: 400;
    color: #5e696d;
}
.contacts::before {
    display: block;
    float: left;
    margin-right: 3px;
    content: url(../img/phone2.png);
    line-height: 0;
    padding: 1px 3px;
    border-radius: 14px;
    background-color: blue;
    background: linear-gradient(top, #2c4d6d 0%, #114266 50%, #1e6584 100%);
    background: -moz-linear-gradient(top, #2c4d6d 0%, #114266 50%, #1e6584 100%);
    background: -webkit-linear-gradient(top, #2c4d6d 0%, #114266 50%, #1e6584 100%);
    background: -o-linear-gradient(top, #2c4d6d 0%, #114266 50%, #1e6584 100%);
    background: -ms-linear-gradient(top, #2c4d6d 0%, #114266 50%, #1e6584 100%);
}
.logbox {
    margin: 0 5px 0 310px;
    padding-top: 5px;
    padding-left: 15px;
    width: 480px;
    height: 21px;
    border-radius: 5px;
    background-color: blue;
    background: linear-gradient(top, #2c4d6d 0%, #114266 50%, #1e6584 100%);
    background: -moz-linear-gradient(top, #2c4d6d 0%, #114266 50%, #1e6584 100%);
    background: -webkit-linear-gradient(top, #2c4d6d 0%, #114266 50%, #1e6584 100%);
    background: -o-linear-gradient(top, #2c4d6d 0%, #114266 50%, #1e6584 100%);
    background: -ms-linear-gradient(top, #2c4d6d 0%, #114266 50%, #1e6584 100%);
    -webkit-box-shadow: 4px 4px 4px 0px rgba(191,191,191,1);
    -moz-box-shadow: 4px 4px 4px 0px rgba(191,191,191,1);
    box-shadow: 4px 4px 4px 0px rgba(191,191,191,1);
}
.logbox:before {
    display:block;
    float: left;
    margin-left: -10px;
    content: url(../img/face.png);
}
.logbox input {
    margin-left: 5px;
    vertical-align: middle;
    font-size: 11px;
    width: 110px;
    height: 11px;
}
.enter_link {
    margin-left: 4px;
    font-size: 11px;
    font-weight: 600;
    text-decoration: none;
    color: white;
}
.reg_link {
    text-decoration: none;
    font-size: 11px;
    font-weight: 600;
    color: white;
}
.reg_link::before {
    content: "";
    display: inline-block;
    margin:0 5px -3px 2px;
    height: 11px;
    border-left: 1px solid white;
}
.fog_pass_link {
    text-decoration: none;
    margin:3px 13px 0 0;
    font-size: 11px;
    font-weight: 600;
    float: right;
    color: #bfbfbf;
    border-bottom: 1px solid grey;
}
.minimenu {
    float: right;
    border: 1px solid grey;
    border-radius: 11px;
    padding: 2px;
    margin: 2px 10px 3px 0;
    width: 66px;
    text-align: center;
    vertical-align: middle;
}
.minimenu a {
    margin: 2px;
}
.wheel p {
    margin: 10px auto;
}
.menu {
    margin-top: -5px;
    padding: 4px;
    border-radius: 5px;
    border: 1px solid #2c345a;
    background-color: blue;
    background: linear-gradient(top, #4d5663 0%, #202326 25%, #000 100%);
    background: -moz-linear-gradient(top, #4d5663 0%, #202326 25%, #000 100%);
    background: -webkit-linear-gradient(top, #4d5663 0%, #202326 25%, #000 100%);
    background: -o-linear-gradient(top, #4d5663 0%, #202326 25%, #000 100%);
    background: -ms-linear-gradient(top, #4d5663 0%, #202326 25%, #000 100%);
    -webkit-box-shadow: 4px 4px 4px 0px rgba(191,191,191,1);
    -moz-box-shadow: 4px 4px 4px 0px rgba(191,191,191,1);
    box-shadow: 4px 4px 4px 0px rgba(191,191,191,1);
}
.menu ul {
    margin-right: 275px;
    margin-left: 120px;
    width: 100%;
}
.menu li{
    display: inline-block;
    height: 25px;
    width: 99px;
    text-align: center;
}
.menu li:first-child {
    width:120px;
}
.menu a {
    display:block;
    width: auto;
    text-decoration: none;
    font-weight: 600;
    color: #bfbfbf;
    padding-top: 5px;
}
.menu ul li:hover {
    border-radius: 13px;
    background-color: blue;
    background: linear-gradient(top, #1e6584 0%, #114266 50%, #2c4d6d 100%);
    background: -moz-linear-gradient(top, #1e6584 0%, #114266 50%, #2c4d6d 100%);
    background: -webkit-linear-gradient(top, #1e6584 0%, #114266 50%, #2c4d6d 100%);
    background: -o-linear-gradient(top, #1e6584 0%, #114266 50%, #2c4d6d 100%);
    background: -ms-linear-gradient(top, #1e6584 0%, #114266 50%, #2c4d6d 100%);
}
 /*
 .menu ul li a {
    display: block;
    padding: 5px 20px;
    width: auto;
    text-decoration: none;
    color: lightgrey;
}
.menu ul li a:hover {
    border-radius: 13px;
    background-color: blue;
    background: linear-gradient(top, #1e6584 0%, #114266 50%, #2c4d6d 100%);
    background: -moz-linear-gradient(top, #1e6584 0%, #114266 50%, #2c4d6d 100%);
    background: -webkit-linear-gradient(top, #1e6584 0%, #114266 50%, #2c4d6d 100%);
    background: -o-linear-gradient(top, #1e6584 0%, #114266 50%, #2c4d6d 100%);
    background: -ms-linear-gradient(top, #1e6584 0%, #114266 50%, #2c4d6d 100%);
}
*/
.menu p {
     float: right;
}
.menu__goods::before {
    display:block;
    float: left;
    margin: -3px 7px 0 -10px;
    content: url(../img/basket.png);
}
.menu__goods {
    color:#bfbfbf;
    font-size: 11px;
    margin: 5px 1px 5px 5px;
}
.goods__sum {
    color: #0d5a8f;
    font-size: 12px;
    margin: 5px 10px 5px 5px;
}
.goods__num {
    color: #0d5a8f;
    font-size: 12px;
    margin: 5px 11px 5px 0;
}
.goods__text_sum {
    color:#bfbfbf;
    font-size: 11px;
    margin: 5px 5px 5px 5px;
}


.catalog {
    float: left;
    width: 190px;
}
.brand {
    float: right;
    width: 190px;
}
.aside_head_brand {
    margin: 3px 0 3px 7px;
    border:1px solid grey;
    border-radius: 12px;
    color: #0c3256;
    padding: 2px;
    -webkit-box-shadow: 4px 4px 4px 0px rgba(191,191,191,1);
    -moz-box-shadow: 4px 4px 4px 0px rgba(191,191,191,1);
    box-shadow: 4px 4px 4px 0px rgba(191,191,191,1);
}
.aside_head_catalog {
    margin: 3px 7px 15px 0;
    border:1px solid grey;
    border-radius: 12px;
    color: #0c3256;
    padding: 2px;
    font-size: 13px;
    -webkit-box-shadow: 4px 4px 4px 0px rgba(191,191,191,1);
    -moz-box-shadow: 4px 4px 4px 0px rgba(191,191,191,1);
    box-shadow: 4px 4px 4px 0px rgba(191,191,191,1);
}
.aside_head:before {
    display: inline-block;
    content: url(../img/list.png);
    padding: 3px 5px;
    border-radius: 14px;
    background-color: blue;
    background: linear-gradient(top, #2c4d6d 0%, #114266 50%, #1e6584 100%);
    background: -moz-linear-gradient(top, #2c4d6d 0%, #114266 50%, #1e6584 100%);
    background: -webkit-linear-gradient(top, #2c4d6d 0%, #114266 50%, #1e6584 100%);
    background: -o-linear-gradient(top, #2c4d6d 0%, #114266 50%, #1e6584 100%);
    background: -ms-linear-gradient(top, #2c4d6d 0%, #114266 50%, #1e6584 100%);
}
.aside_catalog {
    margin: 10px 28px 10px 0;
}
.aside_catalog li {
    margin: 5px 0;
}
.aside_brand {
    margin: 15px 0 10px 22px;
}
.aside_catalog_punct {
    border:1px solid grey;
    width: 139px;
    color: #0c3256;
    border-radius: 12px;
    padding: 6px 3px;
}
.aside_brand_punct{
    border:1px solid grey;
    width: 124px;
    color: #0c3256;
    border-radius: 12px;
    padding: 6px 3px;
}
.aside_catalog_punct:before, .aside_brand_punct:before {
    display: block;
    float: left;
    margin: -4px 4px 0 0;
    content: "";
    font-size: 0;
    padding:6px;
    border:5px solid #114165;
    border-radius: 14px;
    vertical-align: top;
}
.aside_list li:before {
    display: inline-block;
    vertical-align: top;
    margin: 4px 2px 0 0;
    content: "";
    line-height: 0;
    padding: 2px;
    border:2px solid #114165;
    border-radius: 10px;
}
.aside_list li{
    margin: 8px 0 6px 0;
    height: 16px;
    text-align: right;
}
.aside_list li a{
    margin-right: 12px;
    font-size: 13px;
    color: #465961;
    text-decoration: none;
}
.aside_list li a:hover {
    display: inline-block;
    margin: 2px 0px 2px 0;
    color: #0c3256;
    font-weight: bold;
    font-style: italic;
    font-size: 14px;
    text-decoration: underline;
}
.aside__check_brand li{
    margin:6px 5px 8px 4px;
    color: #465961;
    font-size: 13px;
}
.choise {
    margin: 9px 0 0 7px;
    padding: 6px 15px;
    font-size: 11px;
    color: white;
    border-radius: 15px;
    border:0;
    background-color: blue;
    background: linear-gradient(top, #1e6584 0%, #114266 50%, #2c4d6d 100%);
    background: -moz-linear-gradient(top, #1e6584 0%, #114266 50%, #2c4d6d 100%);
    background: -webkit-linear-gradient(top, #1e6584 0%, #114266 50%, #2c4d6d 100%);
    background: -o-linear-gradient(top, #1e6584 0%, #114266 50%, #2c4d6d 100%);
    background: -ms-linear-gradient(top, #1e6584 0%, #114266 50%, #2c4d6d 100%);
}
.content {
    margin: 10px 190px 0 190px;
    padding: 3px 3px 17px 8px;
    border-radius: 2px;
    background-color: white;
    background: linear-gradient(top, #e5e7e8 0%, #b5c2c7 50%, #93a7b0 100%);
    background: -moz-linear-gradient(top, #e5e7e8 0%, #b5c2c7 50%, #93a7b0 100%);
    background: -webkit-linear-gradient(top, #e5e7e8 0%, #b5c2c7 50%, #93a7b0 100%);
    background: -o-linear-gradient(top, #e5e7e8 0%, #b5c2c7 50%, #93a7b0 100%);
    background: -ms-linear-gradient(top, #e5e7e8 0%, #b5c2c7 50%, #93a7b0 100%);
}
.goods {
    display: inline-block;
    margin: 13px;
    text-align: center;
}
.goods__img {
    background-color: white;
    width: 136px;
    text-align: center;
    padding-top: 3px;
    margin: 1px 0 4px 0;
    border-radius: 7px;
    border:1px solid #b0b9bc;
}
.goods__inf {
    margin-top: 2px;
    font-size: 12px;
}
.goods_brand_name {
    font-weight: 900;
    font-size: 16px;
    color: #206988;
    margin-bottom: 1px;
}
.goods__price {
    margin-left: 15px;
    font-family: Arial;
    font-weight: 900;
    font-size: 16px;
    font-style: italic;
    color: #114165;
}
footer {
    clear: both;
}
.pic_brand {
    margin: 38px auto 22px auto;
    text-align: center;
}
.buttom {
    display: inline-block;
    text-align: center;
    width: 100%;
    background-color: #213a4d;
    padding:10px 0 50px 0;
}
.buttom ul li{
    display: inline-block;
}
.buttom ul li:nth-child(1n+2):before {
    content: "";
    margin: 10px;
    border-left: 1px solid white;
    font-size: 12px;
}
.buttom a{
    color: white;
    text-decoration: none;
}
.buttom div {
    margin: 0 auto;
}
.buttom p {
    font-size: 10px;
    color: #754542;
    margin-top: 17px;
}
.buttom a:hover {
    color: #52abcb;
}
