.wraper {
     margin: 10px auto;
     width: 908px;
}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}
.contacts {
     float: left;
     width: 255px;
}
.contacts:before {
      content: "";
     padding: 4px 12px;
     border:1px solid black;
     border-radius: 14px;
     background-color: black;
     background-image: url(../img/phone2.png);
     background-repeat: no-repeat;
     background-position: center;
}
.logbox {
     margin: 0 50px 0 265px;
}
.minimenu {
     float: right;
}
.wheel p {
     margin: 10px auto;
}
.menu {
     background-color: black;
}
.menu ul {
     margin-right: 275px;
}
.menu ul li{
     display: inline-block;
}
.menu ul li a {
     display: block;
     text-decoration: none;
     color: lightgrey;
}
.menu p {
     float: right;
     color: white;
}
section {
     clear: both;
}
.catalog {
     float: left;
     width: 180px;
}
.brand {
     float: right;
     width: 180px;
}
.aside_head {
     border:1px solid black;
     border-radius: 12px;
}
.aside_head p:before {
     content: "";
     padding: 4px 12px;
     border:1px solid black;
     border-radius: 14px;
     background-color: black;
     background-image: url(../img/list.png);
     background-repeat: no-repeat;
     background-position: center;
}
.aside_punct_circle {
     border:1px solid black;
     border-radius: 8px;
}
.aside_punct_circle:before {
     content: "";
     line-height: 0px;
     padding: 0 10px;
     border:5px solid black;
     border-radius: 14px;
}
.aside_list_circle li:before {
     display: inline-block;
     content: "";
     line-height: 0px;
     padding: 5px 5px;
     border:2px solid black;
     border-radius: 10px;
}
.content {
     margin: 0 180px 0 180px;
     padding: 0 14px 0 8px;
     background-color: #e3e6e7;
}
.goods {
     display: inline-block;
     margin: 14px;
     text-align: center;
}
.goods__img {
     background-color: white;
     width: 136px;
     text-align: center;
     padding-top: 3px;
}
footer {
     clear: both;
}
.picbrand {
     margin: 0 auto;
     text-align: center;
}
.buttom {
     display: inline-block;
     text-align: center;
     width: 100%;
     background-color: grey;
     padding-bottom: 53px;
}
.buttom ul li{
    display: inline-block; 
}
.buttom div {

     margin: 0 auto;
}