body {
  background-color: grey;
}
p, div, li, a, label {
  font-family: sans-serif;
}
.container {
  margin: 5% 20%;
  padding: 10%;
  background-color: white;
}
.header {
  display: block;
  margin: 0 auto;
  font-size: 18px;
}
.checkbox {
  display:block;
}
