i {
    color: red;
}

/* -------- H E A D E R ----------*/

.wrapper {
    width: 100%;
}
header {
    width: 100%;
}
.nav_background {
    width: 100%;
    height: 41px;
    background-image: url(img/top-panel.jpg);
    background-repeat: repeat-x; 
    overflow: hidden;
}
.second_nav_background {
    width: 100%;
    height: 110px;
    background-image: url(img/info_panel.jpg);
    background-repeat: repeat-x;
}
.nav, .second_nav, .short_menu_wrapper {
    width: 980px;
    margin: 0 auto;
}
.nav a,.basket p {
    text-decoration: none;
    color: lightgray;
    font-family: sans-serif;
    font-size: 10px;
    font-weight: bold;
}
.menu {
    float: left;
}
.menu li {
    display: inline-block;
    height: 100%;
    margin: 15px;
}
.reg_menu {
    float: right;
}
.reg_menu li {
    display: inline-block;
    height: 100%;
    margin: 15px;
}

.second_nav {
    
}
.logo {
    text-align: center;
    float: left;
    width: 248px;
    height:155px;
    background-image:url(img/logo.png), url(img/logo_background.png);
    background-repeat: no-repeat;
    background-position: 43px 20px, 0 -6px;
}


.info {
    position: relative;
    float: left;
    width: 450px;
    height: 110px;
    background-image: url(img/menu_background.jpg);
    background-repeat: no-repeat;
    background-position: 225px 0;
}
.info:after {
    content: "";
    position: absolute;
    top: 0;
    right: 14;
    width:16px;
    height: 110px;
    background-image: url(img/bolt.png), url(img/bolt.png);
    background-repeat: no-repeat;
    background-position: 0 8px, 0 92px;
}
.info ul {
    display: inline-block;
    margin: 10px 10px 10px 40px;
}
.info li {
    margin: 5px;
}
.info a {
    font-family: sans-serif;
    font-size: 10px;
    text-decoration: none;
    color: black;
}
.contacts_status_wrapper {
    display: inline-block;
    width: 320px;
    height: 110px;
}
.contacts {
    float: left;
    height: 50%;
    padding: 20px 0 0 0;
    font-size: 14px;
}
.contacts p {
    margin: 10px 10px;
}
.status {
    display: inline-block;
    line-height: 20px;
    margin: 30px 0 0 0;
    width: 140px;
    float: right;
    font-size: 12px;
    color: crimson;
}
.tell_about_us {
    clear: both;
    width: 100%;
    font-size: 12px;
    margin: auto 0;
}
.networks_ico_wrapper {
    display: inline-block;
}
.call_us {
    display: inline-block;
}
/*---------RIGHT MENU----------*/

.short_menu_wrapper {
    position: absolute;
    top: 0;
}
.short_menu {
    position: relative;
    width: 100%;
    height: 100%;
}
.basket {
    position: absolute;
    top: 0;
    left: 500px;
    margin-left: 425px;
    width:307px;
    height: 52px;
    text-align: center;
    background-image: url(img/basket_background.png);
}
.basket p {
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
    color: white;
}
