@font-face {
    font-family: 'PT Sans';
    src: url('fonts/PT_Sans-Web-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PT Sans';
    src: url('fonts/PT_Sans-Web-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'PT Sans';
    src: url('fonts/PT_Sans-Web-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'PT Sans';
    src: url('fonts/PT_Sans-Web-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'PT Sans Caption';
    src: url('fonts/PTSansCaptionRegular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PT Sans Caption';
    src: url('fonts/PTSansCaptionBold.ttf');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: "PT Sans Caption";
}

i {
    color: red;
}


/* -------- H E A D E R ----------*/
.main_background {
    display: block;
    width: 100%;
    height: auto;
    background-image: url(img/background.jpg), url(img/second_background.jpg);
    background-repeat: repeat-x, round;
    background-size: 750px, auto;
}

header {
    width: 100%;
}
.nav_background {
    width: 100%;
    height: 41px;
    background-image: url(img/top-panel.jpg);
    background-repeat: repeat-x; 
    overflow: hidden;
}
.second_nav_background {
    width: 100%;
    height: 110px;
    background-image: url(img/info_panel.jpg);
    background-repeat: repeat-x;
}
.nav, .second_nav, .short_menu_wrapper {
    width: 980px;
    margin: 0 auto;
    font-size: 0;
}
.menu {
    float: left;
    margin-left: 15px;
}
.reg_menu {
    float: right;
    margin-right: 15px;
}
.nav li {
    display: inline-block;
    width: auto;
    border-left: 2px groove;
    border-color: #1d1d1d #454545;
}
.nav li:last-child {
    border: 2px groove;
    border-color: #1d1d1d #454545;
}
.nav a {
    display: block;
    padding: 16px;
    text-decoration: none;
    color: #c9c9c9;
    font-size: 10px;
    font-weight: bold;
}
.nav a:hover {
    background-color: rgb( 29, 29, 29);
    color: white;
}
.info {
    float: left;
    width: 450px;
    height: 110px;
    background-image:url(img/menu_bolt.png), url(img/menu_bolt.png), url(img/menu_background.jpg);
    background-repeat: no-repeat;
    background-position: 423px 10px, 423px 95px, 225px 0;
}
.logo {
    margin-left: 4px;
    width: 245px;
    height:125px;
    cursor: pointer;
    display: inline-block;
    background-image:url(img/logo.png), url(img/logo_background.png);
    background-repeat: no-repeat;
    background-position: 43px 20px, 0 -6px;
}
.catalog {
    text-align: center;
    float: left;
    display: inline-block;
    position: relative;
    width: 253px;
    height: 240px;
    font-size: 16px;
    background-image: url(img/catalog_background.png);
    background-repeat: no-repeat;
    background-position:  0 85px;
}
.catalog p {
    cursor: pointer;
    padding: 10px 0 18px 0;
    margin: 0 5px;
}

.goods_catalog {
    position: absolute;
    height: 0;
    width: 210px;
    vertical-align: bottom;
    overflow: hidden;
    text-align:left; 
    top: 163px;
    left: 20px;
    background-image: url(img/category_background.jpg);
    background-size: cover;
}
#catArrowWrapper {
    background-image: url(img/category_background.jpg);
    top: 163px;
    left: 20px;
    position: absolute;
    width: 210px;
    height: 10px;
}
.goods_catalog li{
    height: 32px;
    line-height: 32px;
    border-bottom: 2px groove;
    border-color:#454545 #383838;
}
.goods_catalog img {
    width: 10px;
    height: 10px;
}
.goods_catalog li:last-child {
border: 0;
}
.goods_catalog a{
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 10px;
    margin-right: 2px;
    color: lightgrey;
}
.goods_catalog li a:before {
    content: "";
    display: inline-block;
    float: left;
    margin: 4px 8px 0 8px;
    width: 24px;
    height: 26px;
    background-image: url(img/icons.png);
}

.goods_catalog li:nth-child(1) a:before {
     background-position: 0 0;
}
.goods_catalog li:nth-child(2) a:before {
     background-position: 0 468px;
}
.goods_catalog li:nth-child(3) a:before {
     background-position: 0 436px;
}
.goods_catalog li:nth-child(4) a:before {
     background-position: 0 402px;
}
.goods_catalog li:nth-child(5) a:before {
     background-position: 0 365px;
}
.goods_catalog li:nth-child(6) a:before {
     background-position: 0 24px;
}
.goods_catalog li:nth-child(7) a:before {
     background-position: 0 330px;
}
.goods_catalog li:nth-child(8) a:before {
     background-position: 0 300px;
}
.goods_catalog li:nth-child(9) a:before {
     background-position: 0 268px;
}
.goods_catalog li:nth-child(10) a:before {
     background-position: 0 232px;
}
.goods_catalog li:nth-child(11) a:before {
     background-position: 0 202px;
}
.goods_catalog li:nth-child(12) a:before {
     background-position: 0 162px;
}
.goods_catalog li:nth-child(13) a:before {
     background-position: 0 128px;
}
.goods_catalog li:nth-child(14) a:before {
     background-position: 0 96px;
}
.goods_catalog li:nth-child(15) a:before {
     background-position: 0 60px;
}
.info_menu {
    display: inline-block;
    margin: 10px 10px 10px 40px;
}
.info_menu li {
    margin: 5px;
}
.info_menu a {
    font-size: 11px;
    text-decoration: none;
    color: black;
}

.contacts_status_wrapper {
    display: inline-block;
    width: 310px;
    height: 110px;
    overflow: hidden;
}
.contacts {
    float: left;
    height: 50%;
    padding: 12px 0 0 0;
    font-size: 14px;
}
.contacts p {
    margin: 10px 10px;
}
.status {
    display: inline-block;
    line-height: 18px;
    margin-top: 25px;
    width: 125px;
    float: right;
    font-size: 11px;
    color: crimson;
}
.tell_about_us {
    clear: both;
    width: 100%;
    font-size: 12px;
    margin: auto 0;
}
.networks_ico_wrapper {
    float:right; 
    width: 125px;
    display: inline-block;
}
.vk_link {
    width: 28px;
    height: 28px;
    display: inline-block;
    background-image: url(img/networks.png);
    background-position: 0 0;
    
}
.ok_link {
    margin-left: 6px;
    width: 28px;
    height: 28px;
    display: inline-block;
    background-image: url(img/networks.png);
    background-position: 64 0;
}
.fb_link {
    margin-left: 6px;
    width: 28px;
    height: 28px;
    display: inline-block;
    background-image: url(img/networks.png);
    background-position: 31 0;
}
.tell_friends {
    float: left;
    display: inline-block;
    margin: 10px 0 10px 10px;
    width: 150px;
    font-size: 10px;
}
.call_us {
    overflow: hidden;
    display: inline-block;
    text-align: center;
}
.phone_number {
    font-size: 20px;
    line-height: 30px;
}
.about_number {
    font-size: 10px;
    color: grey;
}
.call_back {
    margin: 10px;
    font-size: 10px;
    line-height: 43px;
    color: white;
    width: 182px;
    background-image:  url(img/bolt.png), url(img/bolt.png), url(img/bolt.png), url(img/bolt.png),url(img/backcall_background.png);
    background-repeat: no-repeat;
    background-position: 2 2, 2 30, 162 2,162 30, 0 0;
}
.search_box {
    margin-top: 15px;
    float: right;
    width: 720px;
    height: 36px;
    border: 5px solid rgba(0,0,0, 0.5);
    border-radius: 5px;
    clear: left;
}
.search_box input {
    width: 625px;
    font-size: 10px;
    line-height: 34px;
    border-width: 0;
}
.search_box button {
    float: right;
    line-height: 34px;
    width: 90px;
    border-width: 0;
    font-size: 10px;
    text-align: center;
    background-color: red;
    color: white;
}


/*--------M A I N   P A G E----------*/



.wrapper {
    padding-top: 25px;
    clear: both;
    width: 980px;
    margin: 0 auto;
}
.top_slider_viewer {
    margin-left: 125px;
    width: 720px;
    height: 310px;
    border: 5px solid rgba(0,0,0, 0.5);
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}
.top_slider {
    width: 100000px;
    height: 310px;
}
.top_slide {
    display: inline-block;
    overflow: hidden;
    width: 720px;
    height: 310px;
    background-image: url(img/slide.jpg);
}
.goods_name {
    display: inline-block;
    font-size: 36px;
    padding: 35px 0 0 35px;
}
.discount {
    position: relative;
    float: right;
    margin: 30px 50px 0 0;
    display: inline-block;
    width: 105px;
    height: 105px;
    line-height: 105px;
    background-color: red;
    color: white;
    font-size: 33px;
    text-align: center;
    border-radius: 96px;
}
.discount:before {
    content: "";
    position: absolute;
    bottom: 11px;
    left: 12px;
    background-color: red;
    width: 15px;
    height: 15px;
    border-radius: 99% 0;
}
.new_price {
    margin: 125px 0 0 35px;
    height: 75px;
    width: 180px;
    line-height: 75px;
    text-align: right;
    padding-right: 40px;
    font-size: 36px;
    color: white;
    font-weight: bold;
    background-color: rgba( 0, 0, 0, 0.5);
}
.old_price {
    margin: 10px 0 0 35px;
    float: left;
    text-decoration: line-through;
    color: grey;
    font-size: 24px;
}
.rounds_wrapper {
    position: absolute;
    bottom: 15px;
    right: 15px;
    float: right;
    width: auto;
    height: 13px;
    display: inline-block;
    font-size: 0;
}
.rounds_wrapper li {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: rgba( 0, 0, 0, 0.5);
    border-radius: 12px;
    margin-right: 8px;
    box-shadow: 1px;
    -webkit-box-shadow: inset 0px -1px 1px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px -1px 1px 0px rgba(0,0,0,0.5);
     box-shadow: inset 0px -1px 1px 0px rgba(0,0,0,0.5);
}
.rounds_wrapper li:nth-child(2) {
    background-color: red;
}


.brand_slider {
    float: right;
    max-width: calc(100% - 20px);
    width: calc(100% - 20px);
    min-width: 710px;
    height: 112px;
    margin: 10px 0;
    padding: 10px;
    background-image: url(img/brand_background.jpg);
}
.brand_wrapper {
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-color: white;
}
.brand_viewer {
    width: 100000px;
    height: 112px;
}
.brand_viewer li:nth-child(n) {
    display: inline-block;
    height: 72px;
    width: 160px;
    margin: 40px 40px 0 40px;
    background-image: url(img/hammer.png);
    background-repeat: no-repeat;
    background-size: auto;
}
.goods_slider {
    float: right;
    max-width: calc(100% - 20px);
    width: calc(100% - 20px);
    min-width: 710px;
    height: 250px;
    margin: 10px 0;
    padding: 10px;
    background-image: url(img/lider_background.jpg);
}

.goods_slider h5 {
    font-size: 24px;
    font-family: "PT Sans"
    color: white;
    margin-bottom: 13px;
}

.goods_wrapper {
    position: relative;
    clear: both;
    overflow: hidden;
    height: auto;
    width: 100%;
    background-color: white;
    background-image: url(img/bolt.png),url(img/bolt.png),url(img/bolt.png),url(img/bolt.png);
    background-repeat: no-repeat;
    background-position: 5px 5px, 5px 195px, calc(100% - 5px) 5px, calc(100% - 5px) 195px;
}
.goods_button_left, .goods_button_right {
    position: absolute;
    top: 95px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    color: white;
    background-color: rgba(215, 40, 40, 0.9);
    width: 35px;
    height: 20px;
    font-size: 18px;
    font-family:monospace;
}
.goods_button_left {
    left: 0;
}
.goods_button_right {
    right: 0;
}
.goods_viewer {
    width: 100000px;
    height: 210px;
    padding:0 40px;
}
.goods_viewer li {
    display: inline-block;
    height: 210px;
    width: 215px;
    border-left: 1px solid grey;
    overflow: hidden;
    margin: 0;
    background-image: url(img/goods_item.jpg);
    background-repeat: no-repeat;
    background-position: center;

}
.goods_viewer h6 {
    font-size: 14px;
    font-weight: bold;
    color: grey;
    margin: 10px 0 140px 40px;
}
.price {
    width: 40%;
    float: right;
}
.goods_old_price {
    display: inline-block;
    float: right;
    margin-right: 5px;
    color: grey;
    font-size: 12px;
    text-decoration: line-through;
    
}
.goods_price {
    display: inline-block;
    float: right;
    margin-right: 5px;
    font-size: 16px;
    font-weight: bold;
    color: red;
    
}
.goods_viewer button {
    float: right;
    border: 0;
    background-color: yellow;
    padding: 5px 15px;
    margin: 0 10px 5px 10px;
    line-height: 23px;
    font-family: "PT Sans";
    font-size: 10px;
    border-radius: 5px;
}



/*------A B O U T   U S---------------*/



.about_us {
    clear: both;
    width: calc(100% - 10px);
    overflow: hidden;
    height: 920px;
    padding: 10px 5px;
    background-image: url(img/about_background.jpg);
}
.about_us_wrapper {
    width: 100%;
    height: 100%;
    background-color: white;
}
.about_us h3 {
    display: inline-block;
    color: white;
    margin: 10px 0 10px 300px;
    line-height: 40px;
    padding: 0 40px;
    background-color: red;
    font-size: 18px;
    font-weight: bold;
}
.about_us h4 {
    font-size: 24px;
    font-weight: bold;
    color: red;
    margin-bottom: 30px;
}
.about_us h4:before {
    content: "";
    display: inline-block;
    margin: -7px 15px 5px 5px;
    float: left;
    width: 34px;
    height: 35px;
    background-image: url(img/news_icons.png);
}
.articles {
    display: inline-block;
    float: left;
    height: 280px;
    width: 415px;
    margin-left: 220px;
}
.article_header {
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
    margin: 15px 10px;
}
.article_text {
    font-size: 15px;
    margin-left: 10px;
    line-height: 24px;
    color: grey;
}
.twitter_messages {
    float: right;
    width: 250px;
    margin-right: 30px;
}
.twitter_messages h4:before {
    background-position: 35px 0;
}
.twitter_messages li {
    margin: 30px 15px;
    border-bottom: 1px solid lightgrey;
}
.twitter_name {
    display: inline;
    font-weight: bold;
    margin: 10px 5px;
}

.twitter_text {
    color: grey;
    margin: 15px 5px;
    font-size: 14px;
}
.twitter_answer {
    text-decoration: underline;
    margin: 10px 5px 25px 5px;
    font-size: 14px;
}
.our_video {
    display: inline-block;
    float: left;
    height: 280px;
    width: 415px;
    margin: 50px 0 0 220px;
}
.our_video h4:before {
    background-position: 72px 0;
}
.video_info:before {
    content: "";
    display: inline-block;
    float: left;
    margin-right: 10px;
    width: 80px;
    height: 60px;
    background-image: url(img/video_screen.jpg);
    background-size: cover;
}
.video_info {
    margin: 24px 0;
}
.video_info p {
    margin: 5px;
}
.video_name {
    font-size: 14px;
}
.video_viewers {
    color: lightgrey;
}
.video_author {
    font-size: 12px;
    color: grey;
}
.our_shops {
    width: 100%;
    padding: 10px 10px 10px 30px;
}
.our_shops_header {
    font-size: 24px;
    margin: 15px 30px;
}
.shops_citys {
    width: calc(100% - 90px);
    position: relative;
    height: auto;
    border: 1px solid lightgrey;
    padding: 20px 20px 40px 20px;
}
.shops_citys ul {
    height: 100px;
    overflow: hidden;
}
.shops_citys li {
    display: inline-block;
    margin: 10px;
}
.shops_citys li a {
    font-size: 13px;
    text-decoration: none;
}
.citys_map {
    float: right;
    margin: -45px 0 0 20px;
}
#shopsListButton {
    position: absolute;
    bottom: -7px;
    display: inline-block;
    padding: 0 15px;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
    background-color: white;
}
footer {
    width: 100%;
    height: 325px;
    margin-top: 35px;
    overflow: hidden;
    background-image: url(img/footer_background.jpg);
}
.pay_types {
    float: left;
    width: 125px;
    height: 100%;
    text-align: center;
    background-image: url(img/foter_bolt.png), url(img/foter_bolt.png), url(img/foter_bolt.png), url(img/foter_bolt.png);
    background-repeat: no-repeat;
    background-position: 5px 5px, 102px 5px, 5px 310px, 102px 310px;
    border-right: 1px solid #272727;
}
.pay_types img {
    margin: 60px auto;
}
.nav_info {
    margin: 0 190px 0 125px;
    height: 100%;
    padding: 20px;
    overflow: hidden;
    border-right: 1px solid #909090;
    border-left: 1px solid #909090;
    background-image: url(img/foter_bolt.png), url(img/foter_bolt.png), url(img/foter_bolt.png), url(img/foter_bolt.png);
    background-repeat: no-repeat;
    background-position: 5px 5px, 620px 5px, 5px 310px, 620px 310px;
}
.nav_info a {
    color: white;
    font-size: 13px;
}
.nav_info li {
    margin: 10px 5px;
}
.help_info {
    float: left;
    width: 190px;
}
.codex_info {
    float: right;
    width: 220px;
}


.market_links {
    margin-top: 28px;
    width: 600px;
    height: 42px;
}
.site_info {
    font-size: 13px;
    margin-top: 30px;
    color: lightgrey;
    font-size: 12px;
    line-height: 22px;
}
.if_mistake {
    color: lightgrey;
    font-size: 12px;
    line-height: 22px;
}

.connection_types {
    float: right;
    width: 173px;
    height: 100%;
    border-left: 1px solid #272727;
    padding: 18px;
    background-image: url(img/foter_bolt.png), url(img/foter_bolt.png), url(img/foter_bolt.png), url(img/foter_bolt.png);
    background-repeat: no-repeat;
    background-position: 5px 5px, 190px 5px, 5px 310px, 190px 310px;
}
.networks_links {
    height: 28px;
    width: auto;
    font-size: 3px; 
}
.networks_links li {
    display: inline-block;
    height: 100%;
    width: 28px;
    background-image: url(img/networks_links.png);
    background-repeat: no-repeat;
}
.networks_links li:nth-child(1) {
    background-position: 0 0;
}
.networks_links li:nth-child(2) {
    background-position: -29px 0;
}
.networks_links li:nth-child(3) {
    background-position: -58px 0;
}
.networks_links li:nth-child(4) {
    background-position: -87px 0;
}
.networks_links li:nth-child(5) {
    background-position: -115px 0;
}
.networks_links li:nth-child(6) {
    background-position: -144px 0;
}
.subscribe_news {
    display: block;
    color: white;
    margin: 30px 0 20px 0;
    font-size: 13px;
    font-weight: bold;
}
.connection_types input {
    padding: 0 5px;
    line-height: 25px;
    width: 100%;
    border: 0;
    font-size: 10px;
}
.connection_types button {
    line-height: 25px;
    width: 100%;
    margin-top: 10px;
    border: 1px solid grey;
    background-color: yellow;
    font-size: 10px;
}
.copyright_text {
    margin-top: 50px;
    color: lightgrey;
    line-height: 22px;
    font-size: 12px;
}
.who_is_we {
    color: lightgrey;
    line-height: 22px;
    font-size: 12px;
}

/*---------R I G H T   M E N U----------*/


.short_menu {
    z-index: 1000;
    position: fixed;
    top: 0;
    width: 1px;
    height: 100%;
    overflow: hidden;
}
.basket {
    position: fixed;
    top: 0;
    left: calc(100%/2 - 60px); 
    width: 307px;
    height: 52px;
    text-align: center;
    background-image: url(img/basket_background.png);
}
.basket p {
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
    text-decoration: none;
    color: lightgray;
    font-size: 10px;
    font-weight: bold;
}
.right_menu {
    position: fixed;
    width: 90px;
    left: calc(100%/2 + 600px); 
    top: 170px;
    border-radius: 5px;
    background-color: rgba( 29, 29, 29, 0.7);
    border-color: #7d7d7d #595959;
    border-right-style: groove;
    border-right-width: 2px;
    border-left-style: ridge;
    border-left-width: 2px;
    border-top-style: ridge;
    border-top-width: 2px;
    border-bottom-style: groove;
    border-bottom-width: 2px;

}
.right_menu li{ 
    display: block;
    float: left;
    width: 90px;
    height: 50px;
    background-image: url(img/right_menu_ico.png);
    background-repeat: no-repeat;
    border-bottom: 1px solid #4a4a4a;
    
}
.right_menu li a {
    display: block;
    width: 100%;
    height: 100%;
}
.right_menu li:hover {
    background-image: url(img/right_menu_ico_active.png);
    background-color: rgb( 29, 29, 29);
}
.right_menu li:nth-child(1) {
     background-position: 30px 12px;
}
.right_menu li:nth-child(2) {
     background-position: 30px -37px;
}
.right_menu li:nth-child(3) {
     background-position: 30px -86px;
}
.right_menu li:nth-child(4) {
     background-position: 30px -137px;
}
.right_menu li:nth-child(5) {
     background-position: 30px -188px;
}
.right_menu li:nth-child(6) {
     background-position: 28px -238px;
}
.right_menu li:nth-child(7) {
     background-position: 30px -285px;
}
.right_menu li:nth-child(8) {
     background-position: 30px -335px;
}
.right_menu li:nth-child(9) {
     background-position: 30px -385px;
}
.right_menu li:nth-child(10) {
     background-position: 30px -435px;
}
.right_menu li:nth-child(11) {
     background-position: 30px -485px;
}
.right_menu li:nth-child(12) {
     background-position: 30px -537px;
}
.right_menu li:nth-child(13) {
     background-position: 30px -585px;
}
.right_menu li:nth-child(14) {
     background-position: 30px -637px;
}
.right_menu li:nth-child(15) {
     background-position: 30px -688px;
}

